body{
    margin: 0;
    padding: 0;
    background-image: url('wallpaper.jpg');
    overflow: hidden;
    height: 100vh;  
}

.container{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: white;
    border-radius: 2% ;  
    font-family:'Courier New', Courier, monospace;

}
.container h1{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
    cursor: pointer;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container h1:hover{
    color: rgb(16, 186, 78);
    transition: 0.5s;
}

.container form{
    padding: 0 40px;
    box-sizing: border-box;
}

 .textarea{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 35px 0;
}

.textarea input{
    height: 35px;
    width: 100%;
    font-size: 15px;
    padding-left: 5px;
    outline: none;
    border: none;
    background: none;

}

.textarea label{
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #adadad;
    pointer-events: none;
}

.textarea span::before{
    content: '';
    position: absolute;
    top: 37px;
    left: 0;
    width: 0%;
    height: 2px;
     background: #2691d9;
     transition: 1s;
}
.textarea input:focus ~ label,
.textarea input:valid ~ label{
    top: -5px;
    color:#2691d9;
}


.textarea input:focus ~ span::before,
.textarea input:valid ~ span::before{
    width: 100%;
}

