*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url('wallpaper.jpg');
    overflow: hidden;
    height: 100vh; 

}


.container{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 350px;
     background-color: white;
     border-radius: 6px;
   

}

.front{
    padding: 10px;
    border-bottom: 2px solid silver;
    text-align: center; 
}

.text form{
    position: relative;
    border-bottom: 2px solid silver;
     margin: 30px 0px;
    
}

.container form{
   
    padding: 0px 40px; 
    box-sizing: border-box; 
}

form .text{
    position: relative;
    border-bottom: 2px solid silver;
}

